* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    background: #0f3057;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

p {
    color: #ffffff;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.start {
    color: #e7e7de;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;

    border: solid 1px #00587a;
    border-radius: 20px;
    background: #0f3057;
    box-shadow:  20px 20px 60px #0b2442, 
                -20px -20px 60px #133c6c;
}

.start:hover {
    color: #0f3057;
    background: #ffffff;
}

.quiz, .choices, .endContainer {
    display: none;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 500px;
    height: 50px;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    border-radius: 42px;
    background: #00587a;
}

.choice:hover {
    color: #00587a;
    background: white;
    cursor: pointer;
}

#A {
    width: 150px;
    height: 50px;
}

#B {
    width: 150px;
    height: 50px;
}

#C {
    width: 150px;
    height: 50px;
}

.endContainer {
    justify-content: center;
    width: 200px;
    height: 200px;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 10rem;
    color: #ffffff;
    border: dashed 2px #008891;
    width: 200px;
    height: 200px;
}